html{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e4cbda;
h3{
    color:rgb(66, 95, 173);
    font-size: 25px;
}
img{
    width:300px;
}
h4{
    font-size: 21px;
}
p{  
    width:400px;
}
body{
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}
a{
    color:rgb(193, 65, 225);
}